.header {
    overflow: hidden;
    background-color: #3983c3;

}

.header p {
    float: left;
    color: rgb(38, 96, 167);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 28px;
    line-height: 15px;
    border-radius: 4px;
    font-weight: bold;

}

.inputField {
    width: 35% !important;
    padding: 1px;
    margin-top: 5px;
    margin-right: 6px;
    border: none;
    font-size: 18px;
}

.header p.logo {
    font-size: 30px;
    font-weight: bold;
    color: #266c8f;

}


.header p:hover {
    background-color: rgb(113, 158, 225);
    color: #3e88ab;

}

.header p.active {
    background-color: rgb(78, 176, 225);
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width : 500px) {
    .header p {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right{
        float: none;
    }
}