.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(red, green, blue, alpha);
}
.styled-table thead tr {
    background-color: rgb(79, 217, 238);
    color: rgb(19, 65, 129);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 20px;
}

.styled-table tbody tr {
    border-bottom: 1px solid rgb(245, 232, 234);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(142, 188, 216);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(241, 235, 233);
}

.btn {
    border: none;
    color: rgb(245, 245, 245);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: rgb(79, 149, 211);
}

.btn-delete {
    background-color: rgb(51, 148, 208);

}

.btn-view {
    background-color: rgb(208, 63, 174);
    color: black;
}